[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "vendor/GLEW"]
	path = vendor/GLEW
	url = https://github.com/nigels-com/glew.git
[submodule "vendor/Glad"]
	path = vendor/Glad
	url = https://github.com/Dav1dde/glad.git
